body {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
}

table {
    border-collapse: collapse;
    /*width: 80%;*/
}
td {
    vertical-align: top;
}
table, th, td {
    border: 1px solid grey;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    /*border-bottom: 1px dotted black;*/ /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    /*width: 120px;*/
    background-color: yellow;
    /* color:black; */
    text-align: left;
    padding: 5px 0;
    border-radius: 6px;
    white-space: nowrap;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}
h1 {
    color: blue;
    /*font-family: verdana;*/
    font-size: 100%;
    text-align: center;
}
p {
    /*border: 1px solid powderblue;*/
    padding: 20px;
}
